.searchContainer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}



.searchContainer input {
    color: #999;
    width: 60vw;
    height: 5vh;
    font-size: 20px;
    padding: 0 1em;
    border-bottom: 3px solid #111;
   
}

.searchContainer h2 {
    margin-top: 1em;
    font-size: 17px;
    font-weight: 500;
    color: #777;
}